{% load render_bundle from webpack_loader %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>Shoppers</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
  </head>

  <body>
    <div id="shoppers-app"></div>
    {% render_bundle 'main' %}
  </body>
</html>
