body {
	font-family: Raleway;
	background: linear-gradient(to bottom right, #fba, #fea);

	min-height: 100vh;
	margin: 0;
	padding: 0;
}

header {
	display: block;
	background-color: #fff;
	text-align: left;
	width: 100%;
}

header > h1 {
	font-size: 1.6rem;
	margin: 0;
	padding: 0.5em;
}

/* All pages */

#content {
	text-align: center;
	padding-right: 1em;
	padding-left: 1em;
}

button {
	background-color: #43b02a;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 1.2rem;
	padding: 0.8rem 2rem;
	cursor: pointer;
}

button:active {
	transform: translateY(3px);
}

/* Landing page */

#apply h2 {
	font-size: 2rem;
}

/* Application Form */

form#application > div > span {
	display: flex;
	width: 100%;
}

/* Outline textboxes and dropdowns if there is an error */
form input.error, form select.error {
    box-shadow: 0px 0px 1.5px 1px red;
}

form div.error {
	color: #a94442;
	display: inline-block;
	font-size: 0.8rem;
	padding-top: 0.4rem;
	text-align: right;
	flex: 1;
}

form#application {
	display: inline-block;
	margin: 0 auto;
	padding: 2rem;
	text-align: left;
}

form#application h2 {
	text-align: center;
}

form#application > div > label.checkbox-label {
	display: inline-block;
	padding: 0 0.2rem;
}

form#application > div > span {
	padding: 0.8rem 0 0.2rem 0;
}

form#application > div > span > label,
form#application > div > span.label {
	display: inline-block;
	width: auto;
}

form#application > div > input[type="text"],
form#application > div > input[type="email"],
form#application > div > select {
	background-color: rgba(255,255,255,0.5);
	border: 1px solid #ff8200;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 1.2rem;
	padding: 0.5rem 0.2rem;
	width: 100%;
}

form#application > div > select {
	/* Replace the regular select arrow with a custom one */
	background: url('/static/images/arrow-down.png') no-repeat right rgba(255,255,255,0.5);
	background-size: 2rem;

	/* Experimental feature */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form#application .submit {
	text-align: center;
}

/* Custom checkbox */
input[type=checkbox] {
	position: absolute;
	left: -9999px;
}

input[type=checkbox] + label {
	display: block;
	position: relative;
	padding: 0.65rem 2rem 0.65rem 3.25rem;

	white-space: nowrap;
	cursor: pointer;
	user-select: none;
}

input[type=checkbox] + label::before {
	content: '';

	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	height: 2.5rem;
	width: 2.5rem;

	background-color: rgba(255,255,255,0.5);
	border: 1px solid #ff8200;
	border-radius: 5px;
	transition: background-color .2s;
}

input:checked + label::before {
	background: url('/static/images/checkmark.png') no-repeat right rgba(255,255,255,0.5);
	background-size: 1.75rem;
	background-color: #ff8200;
	background-position: 0.33rem 0.33rem;
}

/* View Application */

.form-data {
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	display: inline-block;
	margin: 1em;
}

.form-data ul {
	display: table;
	list-style-type: none;

	font-weight: bold;
	text-align: left;

	margin: 0;
	padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.form-data li {
	display: table-row;
}

.form-data span {
	display: table-cell;
	padding: 0.5em 0.5em;
	font-weight: normal;
}

.submit-error {
	color: #a94442;
	padding: 1rem 1rem 2rem 1rem;
}